# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Personal Documents
scratchpad.md

# Python
*__pycache__*
nand/

# Images
*.png
*.jpg
*.svg